[http]
  sslVerify = false
[user]
  name = takaidohigasi
  email = takaidohigasi@gmail.com
[push]
  default = current
[core]
  editor = vim
  simlinks = true
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[diff]
  compactionHeuristic = true
[commit]
  template = ~/.commit_template
[url "github:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:
